
.join-us {
    padding-top: 12px;
    padding-left: 70px;

    & h3 {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: var(--address-color);
      
        margin: 0px;
        margin-bottom: 20px;
      }
  }
  
