.nav_main-logo {
  font-family: Raleway;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-up-color);

  margin-right: 93px;
}



.main-logo-footer {
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-down-color);
  }

.logo-highlighter{
  color: var(--accent-color)
}
